div#root {
  text-align: -webkit-center
}

.ui.menu{
  background: #61dafb !important;
}

.pushable>.pusher {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ui.visible[class*="very wide"].left.sidebar~.pusher {
  transform: translate3d(300px,0,0) !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
  width: auto !important;
}

.ui.card, .ui.cards>.card {
  width: 150px !important;
  height: max-content;
}

.ui.card {
  margin: 0 0 0 0 !important;
}

.ui.card>.content{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}